@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  --Very-dark-blue-bg: hsl(217, 54%, 11%);
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  --Very-dark-blue-text: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background: var(--Very-dark-blue-bg);
  font-family: 'Outfit', sans-serif;
}

main {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

main .card {
  max-width: 350px;
  border-radius: 20px;

  background-color: var(--Very-dark-blue-card);
  padding: 24px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.411);

  /* opacity: 0; */
  /* animation: toTop 1s forwards; */
}

@keyframes toTop {
  0% {
    transform: translateY(-90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.card .conten-img {
  position: relative;
  margin-bottom: 20px;
}

.card .conten-img img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.card .conten-img .view {
  position: absolute;

  width: 100%;
  opacity: 0;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  background-color: hsla(178, 100%, 50%, 0.438);

  cursor: pointer;
  transition: opacity 0.5s;
}

.card .conten-img .view img {
  width: 40px;
}

.card .conten-img:hover .view {
  opacity: 1;
}

.card .text-content h2 {
  color: var(--White);
  margin-bottom: 18px;
  transition: color 0.2s;
}

.card .text-content h2:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.card .text-content p {
  color: var(--Soft-blue);
  font-weight: 300;
  font-size: 18px;
}

.text-content .info-price-days {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;

  border-bottom: 2px solid hsla(215, 32%, 27%, 0.438);
}

.info-price-days .price {
  display: flex;
  align-items: center;
  gap: 5px;

  color: var(--Cyan);
}

.info-price-days .price h3 {
  font-size: 18px;
}

.info-price-days .days {
  display: flex;
  align-items: center;
  gap: 4px;

  color: var(--Soft-blue);
}

.info-price-days .days h3 {
  font-size: 17px;
  font-weight: 300;
}

.card .perfil {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card .perfil img {
  max-width: 35px;
  background-color: var(--White);
  padding: 1px;
  border-radius: 50%;
}

.card .perfil p {
  color: var(--Soft-blue);
  font-size: 17px;
}

.card .perfil p span {
  color: var(--White);
  transition: color 0.2s;
  cursor: pointer;
}

.card .perfil p span:hover {
  color: var(--Cyan);
}
